em.fa-power-off {
	cursor: pointer;
}

.message-erreur-container {
	min-height: 40px;
}

::ng-deep .custom-menubar {
	//position: fixed;
	height: auto;
	top: 0;
	left: 3rem;
    right: 3rem;
	width: 95%;
	z-index: 1000;
	border: none;
	box-shadow: none;
	padding: 10px;
	transition: background-color 0.3s ease-in-out;
	font-size: 20px;
}

  ::ng-deep .p-menubar {
	background: var(--primary-white) !important;
	//  background-color: rgba(255, 255, 255, 0.2) !important;
	//  margin-top: 1.5rem;
  }

  ::ng-deep .p-menubar-root-list {
	justify-content: center;
  }

  ::ng-deep .p-menubar-end {
	margin-left: auto;
  }

  .p-menubar-root-list > .p-menuitem {
	color: white !important;
  }
::ng-deep .p-menuitem .p-submenu-list {
	background-color: #070707; // couleur du sous-menu
}



