<div class="page-wrapper">

	<p-menubar [model]="items"  styleClass="custom-menubar">
		<ng-template pTemplate="start">
			<img src="assets/img/logo.png" [height]="60" class="me-1"  alt="logo"/>
		</ng-template>
		<ng-template pTemplate="end">
			<div class="utilisateur-connecte d-flex align-items-center gap-2">
				<i class="pi pi-user text-orange-500"></i>
				<span class="utilisateur-nom">
				{{ utilisateurConnecte?.nomEtPrenomAbrege() | titlecase }}
			  </span>

				<button
					pButton
					pRipple
					icon="pi pi-power-off"
					class="btn-custom"
					(click)="deconnecter()"
					label="Déconnexion"
					*ngIf="utilisateurConnecte">
				</button>

				<button
					pButton
					pRipple
					icon="pi pi-power-off"
					class="btn-custom"
					(click)="connecter()"
					label="Connexion"
					*ngIf="!utilisateurConnecte">
				</button>

			</div>
		</ng-template>
	</p-menubar>
	<p-toast></p-toast>
	<app-hero-section />
	<router-outlet></router-outlet>
	<main id="main">
	</main>

<app-footer></app-footer>
</div>
