<section class="services py-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="page-info">Vos Demandes</h1>

				<p-table
					#dt1
					[value]="demandes"
					class="table-visible-shadow p-datatable-gridlines p-datatable-striped"
					[tableStyle]="{ 'min-width': '50rem' }"
					selectionMode="single"
					[(selection)]="selectedDemande"
				>
					<!-- En-tête du tableau -->
					<ng-template pTemplate="header">
						<tr>
							<th class="text-center">Date</th>
							<th class="text-center">Type</th>
							<th class="text-center">N° Demande</th>
							<th class="text-center">Statut</th>
							<th class="text-center">Actions</th>
						</tr>
					</ng-template>

					<!-- Corps du tableau -->
					<ng-template pTemplate="body" let-demande>
						<tr>
							<td class="text-center">{{ demande.date }}</td>
							<td class="text-center">{{ demande.typeDemande }}</td>
							<td class="text-center">{{ demande.numeroDemande }}</td>
							<td class="badge text-center text-{{ demande.statut }}">
								<i class="{{ getIcon(demande.statut) }}"></i>
								&nbsp;{{ libelleStatut[demande.statut] }}
							</td>
							<td class="text-center">
								<p-button
									icon="pi pi-info-circle"
									(click)="ouvrirPopupPourPlusInfos(demande)"
								></p-button>

								&nbsp;
								<a
									*ngIf="demande.statut === 'TERMINE'"
									href="/assets/docs/Extrait_Naissance_.pdf"
									target="_blank"
								>
								<p-button
									icon="pi pi-download"
									*ngIf="demande.statut === 'TERMINE'"
								></p-button>
								</a>
							</td>

						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</div>
</section>

<!-- Modal d'informations supplémentaires -->
<voir-plus-infos
	[visible]="visibleInfos"
	[demande]="selectedDemande"
	(visibleChangeInfos)="onHideModalPourPlusInfos($event)"
>
</voir-plus-infos>
